<form action="<%= action %>" method="<%= formMethod %>">
    <div class="mb-3">
        <label for="name" class="form-label">nome</label>
        
    <% if(name) { %>
        <input type="text" class="form-control" id="name" name="name" <%= disabled %> value="<%= name %>">
    <% } else { %> 
        <input type="text" class="form-control" id="name" name="name" <%= disabled %> >
    <% } %>
        
    </div>
    <div class="mb-3">
        <label for="details" class="form-label">detalhes</label>
        
        <% if(details) { %>
            <input type="text" class="form-control" id="details" name="details"  <%= disabled %> value="<%= details %>">
        <% } else { %> 
            <input type="text" class="form-control" id="details" name="details"  <%= disabled %>> 
        <% } %>

        
    </div>

    <% if(buttonLink) { %>
        <a href="<%= buttonLink %>" class="btn btn-secondary"><%= buttonText %></a>
    <% } else { %>
    <button type="<%= buttonType %>" class="btn btn-primary"><%= buttonText %></button>
    <% } %>
</form>